<center>
	<h1>About the Website</h1>
	<p>
		This MIS21 Mock Elections website is made possible by the following people included in this about page.
	</p>
</center>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-xs-12">
		</div>
	</div>
</div>

