<div class = "container">
	<h1>X Candidates for Y</h1>
	<table class = "table table-striped">
		<thead>
			<div class="row">
			  <div class="col-md-2.5"><th><b>First Name</b></th></div>
			  <div class="col-md-2.5"><th><b>Last Name</b></th></div>
			  <div class="col-md-5"><th><b>Slogan</b></th></div>
			  <div class="col-md-2"><th><b><center>Number of Votes</center></b></th></div>
			</div>
		</thead>
		<tbody>
			<tr>
				<div class="row">
				  <div class="col-md-2.5"><td>First Name</td></div>
				  <div class="col-md-2.5"><td>Last Name</td></div>
				  <div class="col-md-5"><td>Placeholder Slogan Placeholder Slogan Placeholder Slogan Placeholder Slogan Placeholder</td></div>
				  <div class="col-md-2"><td><center>X</center></td></div>
				</div>
			</tr>
			<tr>
				<div class="row">
				  <div class="col-md-2.5"><td>First Name</td></div>
				  <div class="col-md-2.5"><td>Last Name</td></div>
				  <div class="col-md-5"><td>Placeholder Slogan Placeholder Slogan Placeholder Slogan Placeholder Slogan Placeholder</td></div>
				  <div class="col-md-2"><td><center>Y</center></td></div>
				</div>
			</tr>
			<tr>
				<div class="row">
				  <div class="col-md-2.5"><td>First Name</td></div>
				  <div class="col-md-2.5"><td>Last Name</td></div>
				  <div class="col-md-5"><td>Placeholder Slogan Placeholder Slogan Placeholder Slogan Placeholder Slogan Placeholder</td></div>
				  <div class="col-md-2"><td><center>Z</center></td></div>
				</div>
			</tr>
		</tbody>
	</table>
</div>
